# requirements.txt
torch
transformers
datasets
seqeval
pydantic
python-dateutil
fastapi
uvicorn[standard]
mlflow
psutil         # <-- Para monitoreo de CPU/RAM
nvidia-ml-py   # <-- Para monitoreo de GPU